In [17]:
from pulp import *

In [18]:
weight = {'A': 12583, 'B': 9204, 'C': 12611, 'D': 12131, 'E': 12889, 'F': 11529}
prof = {'A': 102564, 'B': 130043, 'C': 127648, 'D': 155058, 'E': 238846, 'F': 197030}
prod = ['A', 'B', 'C', 'D', 'E', 'F']

# Initialized model, defined decision variables and objective
model = LpProblem("Loading Truck Problem", LpMaximize)
x = LpVariable.dicts('ship_', prod, cat='Binary')
model += lpSum([prof[i] * x[i] for i in prod])

# Define Constraint
#Add a constraint to ensure the total weight of the truck is less than or equal to 25,000 lbs.
model += lpSum([weight[i] * x[i] for i in prod]) <= 25000
#Add a constraint so that the model will, at most, select only one of the products between D, E, and F.
model += x['D'] + x['E'] + x['F'] <= 1

model.solve()

for i in model.variables():
    print(i.name, "=", i.varValue)

respuesta_json = {
            'ship_A': int(model.variables()[0].varValue),
            'ship_B': int(model.variables()[1].varValue),
            'ship_C': int(model.variables()[2].varValue),
            'ship_D': int(model.variables()[3].varValue),
            'ship_E': int(model.variables()[4].varValue),
            'ship_F': int(model.variables()[5].varValue)
}

print(respuesta_json)

C:\Users\gpierobon\Documents\anaconda3\lib\site-packages\pulp\pulp.py:1114: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

ship__A = 0.0
ship__B = 1.0
ship__C = 0.0
ship__D = 0.0
ship__E = 1.0
ship__F = 0.0
{'ship_A': 0, 'ship_B': 1, 'ship_C': 0, 'ship_D': 0, 'ship_E': 1, 'ship_F': 0}

In [1]:
import pandas as pd

In [2]:
demand = pd.DataFrame({'Dmd':[2719.6, 84.1, 1676.8, 145.4, 156.4]},
                          index=["USA","Germany","Japan","Brazil","India"])

In [3]:
demand

            Dmd
USA      2719.6
Germany    84.1
Japan    1676.8
Brazil    145.4
India     156.4

In [43]:
demand_json = {
    "Country": ["USA","Germany","Japan","Brazil","India"],
    "Dmd":[2719.6, 84.1, 1676.8, 145.4, 156.4],
    "Var_Cost": {
        "USA":[6,13,20,12,22], 
        "Germany":[13,6,14,14,13], 
        "Japan":[20,14,3,21,10], 
        "Brazil":[12,14,21,8,23], 
        "India":[17,13,9,21,8]
    },
    "Fix_Cost":{
        "Low_Cap":[6500,4980,6230,3230,2110], 
        "High_Cap":[9500,7270,9100,4730,3080]
    },
    "Cap": {
        "Low_Cap":[500,500,500,500,500], 
        "High_Cap":[1500,1500,1500,1500,1500]
    }
}

In [38]:
pd.DataFrame(demand_json['Dmd'], index=demand_json['Country'], columns=["Dmd"])

            Dmd
USA      2719.6
Germany    84.1
Japan    1676.8
Brazil    145.4
India     156.4

In [39]:
pd.DataFrame(demand_json['Var_Cost'], index=demand_json['Country'])

         USA  Germany  Japan  Brazil  India
USA        6       13     20      12     17
Germany   13        6     14      14     13
Japan     20       14      3      21      9
Brazil    12       14     21       8     21
India     22       13     10      23      8

In [40]:
pd.DataFrame(demand_json['Fix_Cost'], index=demand_json['Country'])

         Low_Cap  High_Cap
USA         6500      9500
Germany     4980      7270
Japan       6230      9100
Brazil      3230      4730
India       2110      3080

In [41]:
pd.DataFrame(demand_json['Cap'], index=demand_json['Country'])

         Low_Cap  High_Cap
USA          500      1500
Germany      500      1500
Japan        500      1500
Brazil       500      1500
India        500      1500